/* css file for home, homecover ,and slider */

.card:hover .card-body {
  visibility: visible !important;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
}
.bgcolor {
  background-color: rgb(212, 206, 102);
}
.fontcolor {
  color: #c27ae6 !important;
}
.bglightcolor {
  background-color: rgb(230, 216, 127);
}
.iconcolor {
  color: #777;
}
.card:hover .toshowonhover{
  visibility: visible !important;
}
.card{
  transition: 1s;
}
